/* ************* */
/* 
--Colors
primary:#17d6ee

--Background colors
primary:#1e2526
*/
/* ************* */

/* ************* */
/* Basic reset */
/* ************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #ddd;
  background-color: #1e2526;
  font-family: "Noto Serif Kannada", "Open Sans", sans-serif;
  font-weight: 400;
  height: 200vh;
  position: relative;
}

a:link,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* dummy div to cover height of navigation bar  */
.dummy {
  width: 100%;
  height: 6.4rem;
}
